<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Wish sent!</title>
</head>
<body>
  <main>
    <h1 class="success_msg">Success! Your letter has been sent to Santa!</h1>
  </main>
</body>
</html>